<% @points = 0 %>
<% @questions.each do |question| %>
  <div class="quiz-form">
    <h3><%= question.question %></h3>
    <% question.answers.each_with_index do |statement, index| %>
      <% if AnswerUser.find_by(answer: statement, user: current_user) && statement.correct %>
        <p class="quiz-correct-chosen"><%= statement.answer %></p>
        <% @points += 1 %>
      <% elsif AnswerUser.find_by(answer: statement, user: current_user) && !statement.correct %>
        <p class="quiz-incorrect-chosen"><%= statement.answer %></p>
      <% elsif !AnswerUser.find_by(answer: statement, user: current_user) && statement.correct %>
        <p class="quiz-correct-not-chosen"><%= statement.answer %></p>
      <% else %>
        <p><%= statement.answer %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="quiz-score">
  You scored <b><%= @points %></b> point(s).<br/>
  Your overall score is now <b><%= current_user.score %></b>.
  <% if @points < 2 %>
    <% new_score = @video.difficulty += 1 %>
    <% @video.update(difficulty: new_score) %>
  <% elsif @points > 2 %>
    <% new_score = @video.difficulty -= 1 %>
    <% @video.update(difficulty: new_score) %>
  <% else %>
  <% end %>
<br/><br/>
  <%= link_to "Back to videos", videos_path, class: "btn btn-primary" %>
</div>
