<%= simple_form_for :answer, url: video_answer_users_path(@video) do |f| %>
  <% @questions.each do |question| %>
    <div class="quiz-form">
      <h3><%= question.question %></h3>
      <input type="hidden" name="question-<%= question.id %>[answer]" value="" />
      <% question.answers.each_with_index do |statement, index| %>
        <span>
          <input type="radio" value="<%= index %>" name="question-<%= question.id %>[answer]" id="question-<%= question.id %>-<%= statement.id %>" />
          <label class="collection_radio_buttons" for="question-<%= question.id %>-<%= statement.id %>"><%= statement.answer %></label><br/>
        </span>
      <% end %>
    </div>
  <% end %>
<br/>
<%= f.submit "Submit Answers", class:"quiz-submit" %>
<% end %>
