<div class="main-container">
  <div id="list">
    <%= link_to videos_path(score: current_user.score) do %>
      <h3>Recommended</h3>
    <% end %>
      <h3>Difficulty</h3>
    <ul>
      <li><%= link_to "Beginner", videos_path(min_difficulty: 1, max_difficulty: 199) %> </li>
      <li><%= link_to "Elementary", videos_path(min_difficulty: 200, max_difficulty: 399) %></li>
      <li><%= link_to "Intermediate", videos_path(min_difficulty: 400, max_difficulty: 599) %></li>
      <li><%= link_to "Advanced", videos_path(min_difficulty: 600,max_difficulty: 799) %></li>
      <li><%= link_to "Expert", videos_path(min_difficulty: 800, max_difficulty: 999) %></li>
    </ul>
      <h3>Region</h3>
    <ul>
      <li> <%= link_to "Argentina", videos_path(region: "Argentina") %> </li>
      <li> <%= link_to "Colombia", videos_path(region: "Colombia") %> </li>
      <li> <%= link_to "Mexico", videos_path(region: "Mexico") %> </li>
      <li> <%= link_to "Puerto Rico", videos_path(region: "Puerto Rico") %> </li>
      <li> <%= link_to "Spain", videos_path(region: "Spain") %> </li>
      <li> <%= link_to "Uruguay", videos_path(region: "Uruguay") %> </li>
    </ul>
      <h3>Category</h3>
    <ul>
      <li> <%= link_to "All Videos", videos_path %> </li>
      <li> <%= link_to "Animation", videos_path(category: "Animation") %> </li>
      <li> <%= link_to "Comedy", videos_path(category: "Comedy") %> </li>
      <li> <%= link_to "Songs", videos_path(category: "Song") %> </li>
      <li> <%= link_to "Sports", videos_path(category: "Sports") %> </li>
      <li> <%= link_to "Movies", videos_path(category: "Movies") %> </li>
      <li> <%= link_to "News", videos_path(category: "News") %> </li>
      <li> <%= link_to "Tech", videos_path(category: "Tech") %> </li>
      <li> <%= link_to "Poetry", videos_path(category: "Poetry") %> </li>
      <li></li>
      <li></li>
      <li></li>
      </ul>
  </div>

    <div class="card-container">
      <div class="row" id="video-index">
        <h1>Videos</h1>
        <% @videos.each do |video| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( 'https://img.youtube.com/vi/<%= video.url %>/hqdefault.jpg')">
            <div class="card-category">
            </div>
            <div class="card-description">
            <%= link_to "", video_path(video), class: "btn btn-danger btn-lg fas fa-play" %>
            </div>
          <div class="videos-title">

            <%= video.title %>
          </div>
          </div>
        </div>
       <% end %>
      </div>
   </div>
</div>



