<div class="main-container">
  <div id="list">

    <h5><%= link_to videos_path do %>
     <i class="fas fa-home"></i> Home
     <%end %></h5>
    <h5><%= link_to videos_path(score: current_user.score) do %> <i class="fas fa-thumbs-up"></i> Recommended<% end %></h5>
    <h5> <%= link_to videos_path(category:[ "Song","Sports"]) do %><i class="fas fa-chart-line"></i> Trend <%end %></h5>


      <h3>Difficulty</h3>
    <ul>
      <li><%= link_to "Beginner", videos_path(min_difficulty: 1, max_difficulty: 199) %> </li>
      <li><%= link_to "Elementary", videos_path(min_difficulty: 200, max_difficulty: 399) %></li>
      <li><%= link_to "Intermediate", videos_path(min_difficulty: 400, max_difficulty: 599) %></li>
      <li><%= link_to "Advanced", videos_path(min_difficulty: 600,max_difficulty: 799) %></li>
      <li><%= link_to "Expert", videos_path(min_difficulty: 800, max_difficulty: 999) %></li>
    </ul>
      <h3>Category</h3>
    <ul>
      <li> <%= link_to videos_path(category: "Animation") do %>
      <i class="fab fa-napster"></i> Animation <% end %> </li>
      <li> <%= link_to videos_path(category: "Comedy") do %>
      <i class="far fa-smile"></i> Comedy <% end %></li>
      <li> <%= link_to videos_path(category: "Song") do %>
        <i class="fas fa-music"></i> Songs <% end %></li>
      <li> <%= link_to  videos_path(category: "Sports") do  %>
        <i class="fas fa-football-ball"></i> Sports <% end %></li>
      <li> <%= link_to videos_path(category: "Movies") do %>
      <i class="fas fa-film"></i>Movies <% end %></li>
      <li> <%= link_to videos_path(category: "News") do %>
      <i class="far fa-newspaper"></i> News<% end %> </li>
      <li> <%= link_to videos_path(category: "Tech") do %>
        <i class="fas fa-laptop"></i>Tech <% end %></li>
      <li> <%= link_to videos_path(category: "Poetry") do%>
      <i class="fas fa-book-open"></i>Poetry <% end %> </li>

      </ul>
      <h3>Region  <i class="fas fa-globe"></i></h3>
    <ul>
      <li> <%= link_to "Argentina", videos_path(region: "Argentina") %> </li>
      <li> <%= link_to "Colombia", videos_path(region: "Colombia") %> </li>
      <li> <%= link_to "Mexico", videos_path(region: "Mexico") %> </li>
      <li> <%= link_to "Puerto Rico", videos_path(region: "Puerto Rico") %> </li>
      <li> <%= link_to "Spain", videos_path(region: "Spain") %> </li>

    </ul>
  </div>

    <div class="card-container">
      <div class="row" id="video-index">
        <h1>Videos</h1>
        <% @videos.each do |video| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to  video_path(video) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( 'https://img.youtube.com/vi/<%= video.url %>/hqdefault.jpg')">
            <div class="card-category">
            </div>
            <div class="card-description">
              <div class= "far fa-play-circle"> </div>
            </div>

          <div class="videos-title">

            <%= video.title %>
          </div>
          </div>
        </div>
        <% end %>
       <% end %>
      </div>
   </div>
</div>

