<div class="video-container">
  <div class="video-wrapper">
    <h1><%= @video.title %></h1>
    <div class="video-details">
      <div class="video-category">
        <%= @video.category %>
      </div>
      <div class="video-difficulty">
        <%= "Beginner" if @video.difficulty == 1 %>
        <%= "Elementary" if @video.difficulty == 2 %>
        <%= "Intermediate" if @video.difficulty == 3 %>
        <%= "Upper Intermediate" if @video.difficulty == 4 %>
        <%= "Advanced" if @video.difficulty == 5 %>
      </div>
      <div class="video-bookmark">
        <i class="fas fa-star fa-1.5x"></i>
      </div>
    </div>
    <div class="video-player">
      <iframe width="640" height="340" src="<%= @video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="learning-section">
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Quiz')">Quiz</button>
        <button class="tablinks" onclick="openTab(event, 'Transcript')" id="defaultOpen">Transcript</button>
      </div>
      <div id="Quiz" class="tabcontent">


<%= simple_form_for :answer, url: answer_users_path do |f| %>

        <% @questions.each do |question| %>
          <div class="quiz-form">
          <h3><%= question.question %></h3>
            <input type="hidden" name="question-<%= question.id %>[answer]" value="" />
            <% question.answers.each_with_index do |statement, index| %>
              <span>
                <input type="radio" value="<%= index %>" name="question-<%= question.id %>[answer]" id="question-<%= question.id %>-<%= statement.id %>" />
                <label class="collection_radio_buttons" for="question-<%= question.id %>-<%= statement.id %>"><%= statement.answer %></label>
              </span>
            <% end %>
          </div>
        <% end %>
        <br/>
          <%= f.submit "Submit Answers", class:"quiz-submit" %>
            Submit Answers
          <% end %>
        </div>
      <div id="Transcript" class="tabcontent">
        <%= simple_format(@video.transcript) %>
      </div>
    </div>
  </div>
</div>
<script>
  function openTab(evt, tabName) {
      var i, tabcontent, tablinks;

      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>
