<div class="video-container">
  <div class="video-wrapper">
    <h1><%= @video.title %></h1>
    <div class="video-details">
      <div class="video-category">
        <%= @video.category %>
      </div>
      <div class="video-difficulty">
        <%= "Beginner" if @video.difficulty == 1 %>
        <%= "Elementary" if @video.difficulty == 2 %>
        <%= "Intermediate" if @video.difficulty == 3 %>
        <%= "Advanced" if @video.difficulty == 4 %>
        <%= "Expert" if @video.difficulty == 5 %>
      </div>
      <div class="video-bookmark">
        <i class="fas fa-star fa-1.5x"></i>
      </div>
    </div>
    <div class="video-player">

      <iframe width="640" height="340" src="https://www.youtube.com/embed/<%= @video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>
    <div class="learning-section">
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Quiz')" id="defaultOpen">Quiz</button>
        <button class="tablinks" onclick="openTab(event, 'Transcript')">Transcript</button>
      </div>
      <div id="Quiz" class="tabcontent">
        <% quiz_done = false %>
        <% @video.questions.each do |question| %>
          <% question.answers.each do |answer| %>
            <% if AnswerUser.find_by(answer: answer, user: current_user) %>
              <% quiz_done = true %>
            <% end %>
          <% end %>
        <% end %>
        <% if quiz_done == false %>
          <%= render 'todo_quiz' %>
        <% else %>
          <%= render 'done_quiz' %>
        <%end%>
      </div>
      <div id="Transcript" class="tabcontent">
        <%= simple_format(@video.transcript) %>
      </div>
    </div>
  </div>
</div>
<script>
  function openTab(evt, tabName) {
      var i, tabcontent, tablinks;

      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>
