<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to videos_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="miranda-text animated infinite pulse">
    Miranda
  </div>

  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="navbar-points">
          <i class="fas fa-trophy gold-trophy"></i>
          <%= current_user.score %>
        </div>
        <div class="challenges">
            <%= link_to challenges_path do %>
                <i class="fas fa-chalkboard-teacher" style="color: blue; padding-right: 4px" ></i>
                <%= Challenge.get_pending(current_user).first.count %>
              <% end %>
        </div>
        <div class="dropdown">
         <% avatar_url = current_user.photo.filename || current_user.facebook_picture_url || "https://www.w3schools.com/howto/img_avatar.png" %>
          <%= cl_image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to users_show_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>

             <li> <%= link_to challenges_path do %>
                <i class="fas fa-chalkboard-teacher"></i> Challenges <%end  %>
             </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "login_navbar", id: "login_navbar_md"%>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg" style="padding-left: 8em">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <li><%= link_to users_show_path do %>
                  <i class="fa fa-user"></i><%= t(".profile", default: "Profile") %>
                <% end %>
          </li>

          <li><%= link_to  edit_profile_users_path do %>
                <i class="fa fa-cog"></i><%= t(".settings", default: "Settings") %>
              <% end %>
          </li>

          <li><%= link_to challenges_path do %>
                <i class="fas fa-chalkboard-teacher"></i> Challenge
              <%end %>
          </li>


          <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i></i><%= t(".sign_out", default: "Log out") %>
                <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "login_navbar" %>
    <% end %>
  </div>
</div>
