<div class="container">
  <h1> Challenges</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Score</th>
      <th scope="col">Video</th>
      <th scope="col">Opponent</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @challenges.each do |challenge| %>
      <th scope="row"><%= challenge.user_id %></th>
      <td> <%= challenge.score[:user] %></td>
      <td><%= challenge.video_id %></td>
      <td><%= challenge.opponent_id %></td>
      <td> <%= challenge.opponent_id %></td>
    </tr>
    <%end %>
  </tbody>
</table>
<h1> History challenge</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Video</th>
      <th scope="col">Opponent</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @challenges.each do |challenge| %>
      <th scope="row"><%= challenge.user_id %></th>
      <td><%= challenge.video_id %></td>
      <td><%= challenge.opponent_id %></td>
      <td> You win</td>
    </tr>
    <%end %>
  </tbody>
</table>
</div>
